body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-lateral {
    width: 48px;
    height: 100%;
    background: deepskyblue;
    overflow: hidden;
    transition: 0.5s;
}

.item-menu {
    width: 148px;
    height: 48px;
    margin-bottom: 2px;
    background: deepskyblue;
    cursor: pointer;
}

    .item-menu:hover {
        background: darkslateblue;
    }

.item-menu-icone {
    width: 48px;
    height: 48px;
    float: left;
    display: flex;
    justify-content: center;
}

.item-menu-texto {
    width: 100px;
    height: 48px;
    float: left;
    display: flex;
    align-items: center;
}